.table__content {
  padding: 20px;
  label {
    margin-right: 10px;
  }
}

.select {
  width: 150px;
  margin-bottom: 20px;
}

.error {
  margin-bottom: 20px;

  &__text {
    margin-right: 10px;
  }
}

.seed__container {
  margin-bottom: 20px;
}
